<?xml version="1.0" encoding="UTF-8"?>
<launch>
	<arg name="pose_x" default="0.0"/>
	<arg name="pose_y" default="0.0"/>
	<arg name="pose_z" default="0.1"/>
	<arg name="pose_yaw" default="0.0"/>
	<arg name="robot_name" default="satlet0"/>

	<group ns="satlet0">
		<include file="$(find abp_sim)/launch/satlet.launch">
			<arg name="pose_x" value="0"/>
			<arg name="pose_y" value="$(arg pose_y)"/>
			<arg name="pose_z" value="$(arg pose_z)"/>
			<arg name="pose_yaw" value="$(arg pose_yaw)"/>
			<arg name="robot_name" value="satlet0"/>
		</include>
	</group>
	<group ns="satlet1">
		<include file="$(find abp_sim)/launch/satlet.launch">
			<arg name="pose_x" value="-2"/>
			<arg name="pose_y" value="$(arg pose_y)"/>
			<arg name="pose_z" value="$(arg pose_z)"/>
			<arg name="pose_yaw" value="$(arg pose_yaw)"/>
			<arg name="robot_name" value="satlet1"/>
		</include>
	</group>
	<group ns="satlet2">
		<include file="$(find abp_sim)/launch/satlet.launch">
			<arg name="pose_x" value="2"/>
			<arg name="pose_y" value="$(arg pose_y)"/>
			<arg name="pose_z" value="$(arg pose_z)"/>
			<arg name="pose_yaw" value="$(arg pose_yaw)"/>
			<arg name="robot_name" value="satlet2"/>
		</include>
	</group>
</launch>
